.Weather {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #8F9DB2;
    padding: 25px;
    border-radius: 4px;
    color: #042351;
    background: #E4EDFB;
  }
  
  .Weather h1 {
    font-size: 24px;
    margin: 20px 0 0 0;
    line-height: 29px;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather .temperature {
    color: #042351;
    font-size: 64px;
    line-height: 64px;
    
    }
  
  .Weather canvas {
        margin-right: 10px auto;
    }
  
  .Weather .unit {
    color: #042351;
    font-size: 19px;
    
    position: relative;
    line-height: 1;
    top: -34px;
  }

  a {
    text-decoration: none;
  }

